<div class="form_item_block">
    <label>URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="url" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[url].$error.server">{{ GOINPUTNAME[url].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Username:</label>
    <input type="text" autocomplete="new-password" ng-model="username" ng-required="false"/>
    <span class="form_error" ng-show="GOINPUTNAME[username].$error.server">{{ GOINPUTNAME[username].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Password:</label>
    <input type="password" autocomplete="new-password" ng-model="password" ng-required="false"/>
    <span class="form_error" ng-show="GOINPUTNAME[password].$error.server">{{ GOINPUTNAME[password].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Default Branch:</label>
    <input type="text" ng-model="defaultBranch" ng-required="false"/>
    <span class="form_error" ng-show="GOINPUTNAME[defaultBranch].$error.server">{{ GOINPUTNAME[defaultBranch].$error.server }}</span>
</div>
